*~
.DS_Store
/#*#
._*
Thumbs.db
.*.swp
.swp
.*.swo
.swo
.ropeproject
.swn
.docker-sync
Session.vim
__pycache__
*.sess
scratch.*
vim/.VimballRecord
vim/.netrwhist
vim/cache
scripts/passphrase
config/wslu
config/configstore
